// about.html

// aboutUs start
.aboutEveryOne{
    background-image: url(../images/16.jpg);
    @include repeat;
    padding: 150px 0px;
    position: relative;
    z-index: 1;
    &::before{
        content: '';
        position: absolute;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 100%;
        background-color: $about-bg-color;
        z-index: -1;
    }
    .container{
        .col-12{
            .know-about{
                text-align: center;
                color: $text-white;
                h1{
                    text-transform: capitalize;
                    font-size: 70px;
                    font-weight: 800;
                    letter-spacing: 1.6px;
                }
                p{
                    text-transform: capitalize;
                    font-size: 22px;
                    font-weight: lighter;
                    a{
                        color: $text-white;
                        @extend %transition;
                        &:hover{
                            color: $text-white-hover;
                        }
                    }
                    .about-link{
                        display: inline-block;
                        margin: 0px 10px;
                    }
                }
            }
        }
    }
}
// aboutUs end