// area start
.area{
    position: relative;
    z-index: 1;
    &::after{
        content: '';
        position: absolute;
        top: 0px;
        right: 0px;
        width: 10%;
        height: 75%;
        transform: translatey(10%);
        background-image: url(../images/shape2.png);
        z-index: -1;
        @include repeat;
    }
    .container{
        .row{
            .col-12.col-lg-5{
                .about-circle{ 
                    padding: 160px 0px;
                    position: relative;
                    &::before{
                        content: '';
                        position: absolute;
                        top: 0px;
                        left: 50%;
                        transform: translateX(-50%);
                        width: 300px;
                        height: 100%;
                        background: $succes-gradient;
                        @include repeat;
                    }
                    .area-child{
                        box-shadow: 0 10px 40px 0 rgba(50, 50, 50, 0.3);
                        overflow: hidden;
                        border-radius: 100%;
                        img{
                            width: 100%;
                            transform: scale(1);
                            overflow: hidden;
                            border: 3px solid $text-white;
                            border-radius: 100%;
                            @extend %transition;
                            &:hover{
                                transform: scale(1.2);
                            }
                        }
                    }
                }
            }
            .col-12.col-lg-6.offset-lg-1{
                @extend %flex;
                .area-org{
                    .about-us{
                        position: relative;
                        text-transform: uppercase;
                        font-weight: 600;
                        font-size: 26px;
                        padding: 13px 56px 21px;
                        display: inline-block;
                        &::before{
                            content: "";
                            position: absolute;
                            top: 0px;
                            left: 0px;
                            height: 100%;
                            width: 188px;
                            background-image: url(../images/comment2.png);
                            @include repeat;
                            background-size: contain;
                        }
                    }
                    h1{
                        font-size: 62px;
                        font-weight: 800;
                        margin: 20px 0px;
                        span{
                            &:nth-child(1){
                                color: $dot-color;
                            }
                            &:nth-child(2){
                                color: $text-white-hover;
                            }
                        }
                    }
                    p{
                        font-size: 18px;
                        padding-right: 96px;
                        color: $light-black;
                        line-height: 27px;
                        font-family: khairah_r;
                    }
                    ul{
                        margin-top: 20px;
                        li{
                            position: relative;
                            padding-left: 120px;
                            z-index: 1;
                            a{
                                color: $text-light-black;
                                font-size: 35px;
                                font-weight: 700;
                                line-height: 44px;
                                &:hover{
                                    color: $text-white-hover;
                                }
                            }
                            &::before{
                                content: '';
                                position: absolute;
                                top: 0px;
                                left: 0px;
                                @include repeat;
                                background-size: inherit;
                                height: 100px;
                                width: 100px;
                                border: none;
                                border-radius: 100%;
                                z-index: -1;
                            }
                            &:nth-child(1){
                                &::before{
                                    background-color: $bg-first;
                                    background-image: url(../images/1.png);
                                }
                            }
                            &:nth-child(2){
                                &::before{
                                    background-color: $bg-second;
                                    background-image: url(../images/2.png);
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
// area end