// causes start
.causes{
    padding: 110px 0px 70px;
    .container{
        .col-lg-6.offset-lg-3.text-center{
            .causes-heading{
                margin-bottom: 80px;
                h4{
                    text-transform: uppercase;
                    position: relative;
                    display: inline-block;
                    font-weight: 800;
                    padding: 25px 70px;
                    z-index: 1;
                    &::before{
                        content: '';
                        position: absolute;
                        top: 8px;
                        left: 0px;
                        height: 100%;
                        width: 200px;
                        background-image: url(../images/comment2.png);
                        z-index: -1;
                        @include repeat;
                    }
                }
                h1{
                    font-size: 58px;
                    font-weight: 600;
                    margin: 20px 0px 30px;
                }
                p{
                    font-family: khairah_r;
                    color: $light-black;
                    font-size: 18px;
                    padding: 0px 68px;
                    font-weight: 600;
                }
            }
        }
        .row{
            .col-12.col-md-6.col-xl-4{
                .causes-type{
                    position: relative;
                    @extend %transition;
                    overflow: hidden;
                    border: 3px solid $green-transparent;
                    &::before{
                        content: '';
                        border-left: 3px solid $border-hover-color;
                        @extend %transition;
                        position: absolute;
                        top: 0px;
                        left: 0px;
                        height: 100%;
                        opacity: 0;
                        transform: translateY(-50%);
                        z-index: 9;
                    }
                    &::after{
                        content: '';
                        border-right: 3px solid $border-hover-color;
                        @extend %transition;
                        position: absolute;
                        bottom: 0px;
                        right: 0px;
                        height: 100%;
                        opacity: 0;
                        transform: translateY(50%);
                        z-index: 9;
                    }
                    &:hover{
                        &::before{
                            opacity: 1;
                            transform: translateY(0px);
                        }
                        &::after{
                            opacity: 1;
                            transform: translateY(0px);
                        }
                        .causes-img{
                            &::before{
                                opacity: 1;
                                transform: translate(0px);
                            }
                            .position-relative{
                                .blank{
                                    opacity: 1;
                                }
                            }
                        }
                        .cause-discription{
                            &::after{
                                opacity: 1;
                                transform: translate(0px);
                            }
                        }
                    }
                    .causes-img{
                        background-color: $cause-color;
                        padding: 30px 20px;
                        position: relative;
                        &::before{
                            content: '';
                            border-top: 3px solid $border-hover-color;
                            @extend %transition;
                            position: absolute;
                            top: 0px;
                            right: 0px;
                            width: 100%;
                            opacity: 0;
                            transform: translatex(50%);
                        }
                        .position-relative{
                            img{
                                @include bd-radius(100%);
                                width: 100%;
                            }
                            .blank{
                                background-color: $hover-color;
                                @extend %transition;
                                @include flex;
                                width: 100%;
                                height: 100%;
                                border: none;
                                @include bd-radius(100%);
                                position: absolute;
                                top: 0px;
                                bottom: 0px;
                                left: 0px;
                                right: 0px;
                                text-align: center;
                                opacity: 0;
                                .btn-blank{
                                    color: $text-white;
                                    background: $background-left-gradient;
                                    @extend %transition;
                                    border: none;
                                    @include bd-radius(30px);
                                    padding: 10px 30px;
                                    &:hover{
                                        background: $background-right-gradient;
                                    }
                                }
                            }
                        }
                        ul{
                            text-align: center;
                            margin-bottom: -40px;
                            margin-top: 60px;
                            li{
                                &:nth-child(1){
                                    a{
                                        background-color: $text-white-hover;
                                    }
                                }
                                &:nth-child(2){
                                    a{
                                        background-color: $dot-color;
                                    }
                                }
                                a{
                                    color: $text-white;
                                    padding: 10px 30px;
                                    border: none;
                                    @include bd-radius(30px);
                                    text-transform: uppercase;
                                    font-size: 18px;
                                }
                            }
                        }
                    }
                    .cause-discription{
                        margin-top: 40px;
                        text-align: center;
                        position: relative;
                        padding-bottom: 30px;
                        &::after{
                            content: '';
                            border-bottom: 3px solid $border-hover-color;
                            @extend %transition;
                            position: absolute;
                            bottom: 0px;
                            left: 0px;
                            width: 100%;
                            opacity: 0;
                            transform: translatex(-50%);
                        }
                        h3{
                            margin-bottom: 10px;
                            a{
                                color: $text-light-black;
                                @extend %transition;
                                font-size: 31px;
                                font-weight: 800;
                                &:hover{
                                    color: $text-white-hover;
                                }
                            }
                        }
                        p{
                            font-size: 18px;
                            font-family: khairah_r;
                            color: $light-black;
                            line-height: 26px;
                            padding: 0px 50px;
                        }
                    }
                }
            }
        }
    }
}
// causes end