$text-white: #fff;
$bg-blue: rgb(7, 23, 56);
$text-white-hover: #2db85d;
$border-color: rgba(255, 255, 255, .1);
$background-left-gradient: linear-gradient(left,#18b760,#e9bf3d);
$background-right-gradient: linear-gradient(left,#e9bf3d,#18b760);
$text-black: #414141;
$button-left-color: linear-gradient(left,#18b760,#e9bf3d 50%,#18b760);
$button-right-color: linear-gradient(right,#e9bf3d,#18b760 50%,#e9bf3d);
$dot-color: #eabf3d;
$succes-gradient: linear-gradient( -135deg, rgb(3,182,100) 0%, rgb(255,192,57) 100%);
$light-black: #787878;
$text-light-black: #212122;
$bg-first: #d7f5e7;
$bg-second: #faf4e8;
$text-p-color: #cbcfd6;
$border-white: rgba(191, 158, 158, 0.62);
$cause-color: #eefaf5;
$hover-color: rgba(6,23,56,.8);
$border-hover-color: #a1bc49;
$green-transparent: #27bb3610;
$event-color: #ffc039;
$video-bg-color: rgba(88, 92, 100,.89);
$about-bg-color: rgba(6,25,56,.8);
$counting-color: #f8f8f8;
$input-bg-color: rgba(0, 198, 209, 0.1);
$red-color: #CC0000;
$purpal: #691A5F;
$sky-blue: #019CDE;