/* contact us start */
.contactUs{
    padding: 70px 0px;
    .container{
        .row{
            .col-12.col-lg-6{
                margin-bottom: 50px;
                .contact-location{
                    .our-contact{
                        padding: 20px 0px;
                        h3{
                            font-size: 34px;
                            font-weight: 700;
                        }
                        p{
                            font-size: 18px;
                            color: $light-black;
                            font-family: khairah_r;
                            line-height: 25px;
                            margin-top: 10px;
                        }
                    }
                    .contact-phone{
                        margin: 30px 0px;
                        align-items: center;
                        display: flex;
                        .device-img{
                            display: inline-block;
                            font-size: 26px;
                            color: $text-white-hover;
                            box-shadow: 0px 0px 10px -4px $text-black;
                            border: none;
                            border-radius: 3px;
                            margin: 0px 14px 0px 0px;
                            width: 50px;
                            height: 50px;
                            line-height: 50px;
                            text-align: center;

                        }
                        .contact-area{
                            display: inline-block;
                            h4{
                                font-weight: 600;
                            }
                            p{
                                font-size: 18px;
                                color: $light-black;
                                font-family: khairah_r;
                                line-height: 25px;
                            }
                        }
                    }
                }
                .contact-form{
                    padding: 20px 0px;
                    .row{
                        .col-12{
                            h3{
                                font-size: 34px;
                                font-weight: 700;
                                margin-bottom: 10px;
                            }
                            .form-details{
                                border: 1px solid transparent;
                                @include bd-radius(0px);
                                font-size: 18px;
                                margin: 10px 0px;
                                &:focus{
                                    border-color: $text-white-hover;
                                    box-shadow: unset;
                                }
                            }
                            .btn-submit-form{
                                text-transform: capitalize;
                                font-size: 18px;
                                background: $background-left-gradient;
                                padding: 12px 34px;
                                margin-top: 30px;
                                border: none;
                                @include bd-radius(30px);
                                @extend %transition;
                                color: $text-white;
                                font-weight: 500;
                                &:hover{
                                    background: $background-right-gradient;
                                }
                            }
                        }
                        .col-12.col-sm-6{
                            .form-details{
                                border: 1px solid transparent;
                                @include bd-radius(0px);
                                font-size: 18px;
                                margin: 10px 0px;
                                &:focus{
                                    border-color: $text-white-hover;
                                    box-shadow: unset;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
/* contact us end */ 