// counting start 
.counting{
    padding: 110px 0px;
    .container{
        .row{
            .col-12{
                .tp-counter{
                    @include grid;
                    grid-template-columns: 25% 25% 25% 25%;
                    .tp-counter-area{
                        background-color: $counting-color;
                        padding: 40px 0px;
                        margin: 10px 20px;
                        h1{
                            font-weight: bolder;
                            font-size: 54px;
                        }
                        p{
                            text-transform: capitalize;
                            font-size: 18px;
                            color: $light-black;
                            font-weight: 500;
                        }
                    }
                }
            }
        }
    }
}
// counting end