// header section start 
header{
    background-color: $bg-blue;
    // topbar start 
   .topbar{
       border-bottom: 1px solid $border-color;
        .container-fluid.container-xxl{
            .row{
                padding: 15px 0px;
            .col-12.col-md-6{
                &:nth-child(1){
                        @extend %flex;
                        justify-content: flex-start;
                        .head-location{
                            @extend %flex;
                            justify-content: flex-start;
                            h3{
                                color: $text-white;
                                font-size: 16px;
                                font-weight: 400;
                            }
                        }
                }
                &:nth-child(2){
                        @extend %flex;
                        justify-content: flex-end;
                        .head-media{
                            @extend %flex;
                            justify-content: flex-end;
                            ul{
                                li{
                                    &:not(:last-child){
                                        margin: 0px 10px;
                                        padding: 0px 10px;
                                    }
                                    &:last-child{
                                        margin-left: 10px;
                                        padding-left: 10px;
                                    }
                                    a{
                                        color: $text-white;
                                        font-size: 16px;
                                        &:hover{
                                            color: $text-white-hover;
                                        }
                                    }
                                }
                            }
                        }
                }
            }
            }
        }
   }
    // tobar end 
    // navbar start
    .navbar-main{
        z-index: 1;
        .container-fluid.container-xxl{
            @extend %flex;
            justify-content: flex-start;
            padding: 15px 0px;
            .logo{
                display: block;
                color: $text-white;
                font-size: 22px;
                font-weight: bolder;
                img{
                    margin-right: 10px;
                }
                span{
                    color: $text-white-hover;
                }
            }
            .nav-list-item{
                @include flex;
                margin-left: auto;
                .btn-collapse{
                    display: none;
                    order: 4;
                    color: $text-white;
                    background: $background-left-gradient;
                    padding: 6px 15px;
                    font-size: 22px;
                    border: none;
                    @include bd-radius(6px);
                }
                .collapse-navbar{
                    #collapsable{
                        display: none;
                        position: absolute;
                        left: -21px;
                        top: 3px;
                        font-size: 26px;
                        color: $text-white;
                        background: $text-white-hover;
                        width: 46px;
                        height: 46px;
                        line-height: 46px;
                        text-align: center;
                        border: none;
                        @include bd-radius(100%);
                    }
                    ul{
                        li{
                            .navbarItems{
                                position: relative;
                                &:hover{
                                    .navbarItem{
                                        display: block;
                                    }
                                }
                                .active{
                                    &::before{
                                        opacity: 1;
                                    }
                                }
                                a{
                                    color: $text-white;
                                    text-transform: capitalize;
                                    padding: 30px 20px;
                                    position: relative;
                                    z-index: 1;
                                    @extend %transition;
                                    &:before{
                                        content: "";
                                        position: absolute;
                                        top: 52px;
                                        left: 0px;
                                        height: 25px;
                                        width: 100%;
                                        background-image: url(../images/hover.png);
                                        @include repeat;
                                        z-index: -1;
                                        opacity: 0;
                                        transform: translatey(-100%);
                                        @extend %transition;
                                    }
                                    &:hover{
                                        &::before{
                                            opacity: 1;
                                        }
                                    }
                                }
                                .navbarItem{
                                    display: none;
                                    position: absolute;
                                    top: 50px;
                                    left: 0px;
                                    right: 0px;
                                    width: 240px;
                                    height: auto;
                                    z-index: 1;
                                    ul{
                                        background-color: $text-white;
                                        height: 100%;
                                        width: 100%;
                                        box-shadow: 0px 0px 8px 3px $text-light-black;
                                        li{
                                            padding: 7px 0px;
                                            &:not(:last-child){
                                                border-bottom: 1px solid $text-black;
                                            }
                                            a{
                                                color: $light-black;
                                                font-size: 18px;
                                                padding-top: 0px;
                                                padding-bottom: 0px;
                                                font-weight: 600;
                                                text-transform: capitalize;
                                                display: block;
                                                &:hover{
                                                    color: $text-white-hover;
                                                    &::before{
                                                        opacity: 0;
                                                    }
                                                }
                                            }
                                        }
                                    }
                                    .blog-details{
                                        li{
                                            &:last-child{
                                                position: relative;
                                                &:hover{
                                                    .full-detail{
                                                        display: block;
                                                    }
                                                }
                                                a{
                                                    position: relative;
                                                    &::after{
                                                        font-family: "Font Awesome 5 Free"; 
                                                        font-weight: 900; 
                                                        content: "\f054";
                                                        position: absolute;
                                                        top: 0px;
                                                        right: 10px;
                                                        font-size: 18px;
                                                        color: $light-black;
                                                    }
                                                }
                                                .full-detail{
                                                    position: absolute;
                                                    top: 0px;
                                                    left: -250px;
                                                    height: auto;
                                                    width: 250px;
                                                    display: none;
                                                    ul{
                                                        li{
                                                            a{
                                                                &::after{
                                                                    content: '';
                                                                }
                                                            }
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                            .active{
                                &::before{
                                    opacity: 1;
                                }
                            }
                            a{
                                color: $text-white;
                                text-transform: capitalize;
                                padding: 30px 20px;
                                position: relative;
                                z-index: 1;
                                @extend %transition;
                                &:before{
                                    content: "";
                                    position: absolute;
                                    top: 52px;
                                    left: 0px;
                                    height: 25px;
                                    width: 100%;
                                    background-image: url(../images/hover.png);
                                    @include repeat;
                                    z-index: -1;
                                    opacity: 0;
                                    transform: translatey(-100%);
                                    @extend %transition;
                                }
                                &:hover{
                                    &::before{
                                        opacity: 1;
                                    }
                                    &~.navbarItem{
                                        display: block;
                                    }
                                }
                            }
                        }
                    }
                }
                .navbar-list{
                    margin: 0px 40px 0px 50px;
                    li{
                        padding: 0px 10px;
                        &:nth-child(1){
                            position: relative;
                            a{
                                position: relative;
                                color: $text-white;
                                font-size: 22px;
                                span{
                                    position: absolute;
                                    top: -10px;
                                    right: -15px;
                                    background: $background-left-gradient;
                                    width: 25px;
                                    height: 25px;
                                    line-height: 25px;
                                    text-align: center;
                                    color: inherit;
                                    border: none;
                                    @include bd-radius(100%);
                                    font-size: 16px;
                                }
                            }
                            .shopping-cart{
                                padding: 20px 0px;
                                display: grid;
                                background-color: $text-white;
                                margin-top: 58px;
                                display: none;
                                position: absolute;
                                top: 0px;
                                right: 0px;
                                width: 300px;
                                flex-direction: column;
                                justify-content: space-between;
                                h3{
                                    font-size: 23px;
                                    font-weight: 500;
                                    text-transform: uppercase;
                                    padding: 0px 20px 20px;
                                    border-bottom: 1px solid $border-white;
                                }
                                .min-cart{
                                    @extend %flex;
                                    justify-content: start;
                                    padding: 10px 20px;
                                    border-bottom: 1px solid $border-white;
                                    .min-cart-item1{
                                        a{
                                            img{
                                                width: 100%;
                                                border: 1px solid transparent;
                                            }
                                            &:hover{
                                                img{
                                                    border-color: $dot-color;
                                                }
                                            }
                                        }
                                    }
                                    .min-cart-item2{
                                        @extend %flex;
                                        justify-content: space-between;
                                        align-items: flex-start;
                                        .cart-item-details{
                                            @extend %flex;
                                            justify-content: space-between;
                                            margin-right: 56px;
                                            ul{
                                                li{
                                                    &:nth-child(1){
                                                        a{
                                                            color: $text-light-black;
                                                            font-size: 18px;
                                                            @extend %transition;
                                                            &:hover{
                                                                color: $text-white-hover;
                                                            }
                                                        }
                                                    }
                                                    &:nth-child(2){
                                                        color: $light-black;
                                                    }
                                                }
                                            }
                                        }
                                        .cart-item-close{
                                            span{
                                                font-size: 20px;
                                            }
                                        }
                                    }
                                }
                                .cart-price{
                                    padding: 10px 20px;
                                    ul{
                                        @extend %flex;
                                        justify-content: space-between;
                                        li{
                                            &:nth-child(1){
                                                color: $light-black;
                                            }
                                            &:nth-child(2){
                                                button{
                                                    background: $background-left-gradient;
                                                    color: $text-white;
                                                    font-size: 18px;
                                                    border: none;
                                                    @include bd-radius(24px);
                                                    padding: 10px 40px;
                                                    cursor: pointer;
                                                    text-transform: capitalize;
                                                    font-weight: 500;
                                                    @extend %transition;
                                                    &:hover{
                                                        background: $background-right-gradient;
                                                    }
                                                }
                                            }
                                        }
                                    }

                                }
                            }
                        }
                        &:nth-child(2){
                            position: relative;
                            a{
                                font-size: 22px;
                                color: $text-white;
                            }
                            .search-any{
                                position: absolute;
                                right: 0px;
                                top: 55px;
                                display: none;
                                input{
                                    font-size: 18px;
                                    padding: 10px 33px 10px 15px;
                                    outline: none;
                                    border: none;
                                }
                                span{
                                    position: absolute;
                                    top: 14px;
                                    right: 8px;
                                }
                            }
                        }
                    }
                }
                .cart-search-contact{
                    button{
                        color: $text-white;
                        background: $text-white-hover;
                        border: none;
                        @include bd-radius(30px);
                        padding: 9px 20px;
                        font-size: 16px;
                        font-weight: 400;
                    }
                }
            }
        }
    } 
    // navbar end  
}
// header section end 