@mixin flex{
    display: flex;
    justify-content: center;
    align-items: center;
}
@mixin repeat{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: local;
}
@mixin grid{
    display: grid;
    justify-content: center;
    align-items: center;
}
@mixin bd-radius($value){
    -webkit-border-radius: $value;
    -moz-border-radius: $value;
    border-radius: $value;
}