// singleCase start
.singleCase{
    padding: 100px 0px;
    .container{
        .row{
            .col-12.col-lg-8{
                .poor-child{
                    .description{
                        padding: 30px 30px 50px;
                        margin: 10px 0px 60px;
                        background: $text-white;
                        box-shadow: 0px 0px 7px -2px $border-white;
                        img{
                            width: 100%;
                            max-width: 100%;
                            height: auto;
                        }
                        .case-suffer-progress{
                            font-size: 30px;
                            font-weight: 800;
                            margin: 20px 0px;
                        }
                        .progress{
                            height: 7px;
                            overflow: visible;
                            margin: 50px 0px 20px;
                            .progressBar{
                                background-color: $text-white-hover;
                                position: relative;
                                overflow: visible;
                                .progress-value{
                                    position: absolute;
                                    top: -30px;
                                    right: 0px;
                                    font-size: 18px;
                                    font-weight: 600;
                                    color: $text-light-black;
                                }
                            }
                        }
                        .causes-goal{
                            @extend %flex;
                            justify-content: space-between;
                            li{
                                font-size: 18px;
                            }
                        }
                        .how-to-solve{
                            margin: 30px 0px;
                            color: $light-black;
                            font-size: 18px;
                            font-family: khairah_r;
                        }
                        h3{
                            font-weight: 600;
                        }
                        .causes-safety{
                            margin: 30px 0px;
                            li{
                                position: relative;
                                padding-left: 20px;
                                padding-top: 5px;
                                padding-bottom: 5px;
                                font-size: 18px;
                                &::before{
                                    content: '';
                                    position: absolute;
                                    top: 14px;
                                    left: 0px;
                                    width: 10px;
                                    height: 10px;
                                    border-radius: 100%;
                                    border: none;
                                    background-color: $text-white-hover;
                                }
                            }
                        }
                        .event-location{
                            margin: 30px 0px;
                            h3{
                                font-weight: 600;
                                margin-bottom: 30px;
                            }
                        }
                        .btn-donateNow{
                            background: $background-left-gradient;
                            @extend %transition;
                            color: $text-white;
                            @include bd-radius(30px);
                            transition-duration: 0.7s;
                            cursor: pointer;
                            font-size: 18px;
                            padding: 10px 40px;
                            border: none;
                            text-transform: capitalize;
                            &:hover{
                                background: $background-right-gradient;
                            }
                        }
                    }
                    .suffer-child-comment{
                        padding: 30px 30px 50px;
                        margin: 10px 0px 60px;
                        background: $text-white;
                        box-shadow: 0px 0px 7px -2px $border-white;
                        .commentsArea{
                            h3{
                                text-transform: capitalize;
                                font-weight: 600;
                                color: $bg-blue;
                            }
                            .person-comment{
                                margin-top: 25px;
                                .comment-popular{
                                    .comment-first{
                                        position: relative;
                                        margin: 40px 0px;
                                        padding: 30px;
                                        background-color: $counting-color;
                                        .comment-img{
                                            position: absolute;
                                            // top: 7px;
                                            left: 30px;
                                            width: 76px;
                                            height: 100%;
                                            img{
                                                width: 100%;
                                                height: auto;
                                                @include bd-radius(100%);
                                            }
                                        }
                                        .comment-query{
                                            padding-left: 130px;
                                            color: $light-black;
                                            font-size: 18px;
                                            .comment-name{
                                                h4{
                                                    font-weight: 700;
                                                    color: $text-light-black;
                                                    margin-top: 10px;
                                                }
                                                .comment-date{
                                                    margin: 8px 0px 20px;
                                                }
                                            }
                                            .comment-area{
                                                p{
                                                    font-family: khairah_r;
                                                    font-size: 18px;
                                                }
                                            }
                                            .comment-reply{
                                                position: absolute;
                                                top: 10px;
                                                right: 30px;
                                                a{
                                                    color: $text-white-hover;
                                                    font-size: 18px;
                                                    font-weight: 700;
                                                }
                                            }
                                        }
                                    }
                                    .comment-desire{
                                        padding-left: 20px;
                                        .comment-comman{
                                            .comment-another{
                                                padding-left: 20px;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                        .commentsResponse{
                            h3{
                                color: $bg-blue;
                                font-weight: 800;

                            }
                            .form-submit{
                              .row{
                                  .col-12{
                                        .input-name{
                                            border: 1px solid transparent;
                                            margin: 20px 0px;
                                            outline: none;
                                            background-color: $text-p-color;
                                            @include bd-radius(0px);
                                            @extend %transition;
                                            &:focus{
                                                box-shadow: 0px 0px 0px 0px;
                                                border: 1px solid $text-white-hover;
                                            }
                                            &::placeholder{
                                                font-family: khairah_r;
                                                color: $light-black;
                                                font-size: 18px;
                                            }
                                        }
                                        .btn-form-submit{
                                            text-transform: capitalize;
                                            color: $text-white;
                                            background: $background-left-gradient;
                                            padding: 10px 50px;
                                            font-size: 18px;
                                            @include bd-radius(30px);
                                            border: none;
                                            @extend %transition;
                                            &:hover{
                                                background: $background-right-gradient;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
            .col-12.col-lg-4{
                .search-issue{
                    .search-here{
                        background-color: $text-white;
                        box-shadow: 0px 0px 7px -2px $border-white;
                        margin-top: 10px;
                        margin-bottom: 82px;
                        h3{
                            padding: 25px 30px 20px;
                            font-size: 24px;
                            font-weight: 600;
                        }
                        hr{
                            margin: 0px;
                            padding: 0px;
                        }
                        .input-search{
                            position: relative;
                            padding: 20px 30px 25px;
                            .search-case{
                                font-size: 18px;
                                @include bd-radius(0px);
                                padding: 10px 66px 10px 20px;
                                border-color: $bg-second;
                                @extend %transition;
                                &:focus{
                                    background-color: $input-bg-color;
                                    box-shadow: 0px 0px 0px 0px;
                                }
                            }
                            span{
                                position: absolute;
                                top: 18px;
                                right: 31px;
                                display: inline-block;
                                background: $background-left-gradient;
                                width: 56px;
                                height: 50px;
                                text-align: center;
                                color: $text-white;
                                cursor: pointer;
                                line-height: 50px;
                            }
                        }
                    }
                    .recent-post{
                        background-color: $text-white;
                        box-shadow: 0px 0px 7px -2px $border-white;
                        h4{
                            padding: 28px 30px;
                            font-weight: 600;
                            font-size: 24px;
                        }
                        hr{
                            margin: 0px;
                        }
                        .some-post{
                            padding: 28px 30px 46px;
                            margin-bottom: 80px;
                            .post-1{
                                @extend %flex;
                                justify-content: start;
                                &:not(:last-child){
                                    margin-bottom: 24px;
                                }
                                &:not(:first-child){
                                    margin-top: 24px;
                                }
                                .post-description{
                                    margin-left: 20px;
                                    p{
                                        a{
                                            font-size: 18px;
                                            font-weight: 600;
                                            color: $bg-blue;
                                            @extend %transition;
                                            transition-duration: 0.4s;
                                            &:hover{
                                                color: $text-white-hover;
                                            }
                                        }
                                    }
                                    .post-date{
                                        font-size: 18px;
                                        color: $light-black;
                                    }
                                }
                            }
                            hr{
                                margin: 0px;
                            }
                        }
                    }
                    .provide-help-links{
                        background-color: $text-white;
                        box-shadow: 0px 0px 7px -2px $border-white;
                        h4{
                            padding: 28px 30px;
                            font-weight: 600;
                            font-size: 24px;
                        }
                        hr{
                            margin: 0px;
                        }
                        .provide-help{
                            padding: 28px 30px 46px;
                            li{
                                display: inline-block;
                                margin: 5px;
                                overflow: hidden;
                                a{
                                    color: $text-light-black;
                                    border: 1px solid $text-p-color;
                                    padding: 10px 24px;
                                    font-size: 18px;
                                    display: inline-block;
                                    background: transparent;
                                    @extend %transition;
                                    &:hover{
                                        background-color: $text-white-hover;
                                        color: $text-white;
                                        border-color: $text-white-hover;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
// singleCase end