// volunteer-comment start 
.comment{
    background-color: $bg-blue;
    overflow: hidden;
    padding: 70px 0px 110px;
    color: $text-white;
    position: relative;
    &::before{
        content: '';
        position: absolute;
        bottom: 0px;
        left: 0px;
        width: 100%;
        height: 50%;
        border-top: 3px solid $border-color;
        z-index: 1;
    }
    .container{
        .row{
            .col-12{
                .testimonial{
                    position: relative;
                    .testimonial-slider.text-center{
                        &:nth-child(2){
                            .person-query{
                                ul{
                                    margin-top: 90px;
                                }
                            }
                        }
                        display: none;
                        .join-person{
                            overflow: hidden;
                            position: relative;
                            z-index: 1;
                            width: 30%;
                            margin: auto;
                            &::before{
                                content: '';
                                position: absolute;
                                bottom: -90px;
                                left: 0px;
                                background: $background-right-gradient;
                                width: 100%;
                                height: 100%;
                                border: none;
                                @include bd-radius(100%);
                                z-index: -1;
                                opacity: 1;
                            }
                        }
                        .person-query{
                            ul{
                                margin-top: 30px;
                                li{
                                    &:nth-child(1){
                                        color: $dot-color;
                                    }
                                    &:nth-child(2){
                                        color: $dot-color;
                                    }
                                    &:nth-child(3){
                                        color: $dot-color;
                                    }
                                    &:nth-child(4){
                                        color: $event-color;
                                    }
                                    &:nth-child(5){
                                        color: $event-color;
                                    }
                                }
                            }
                            p{
                                font-size: 20px;
                                margin-top: 30px;
                                padding: 0px 280px;
                                font-weight: 500;
                            }
                            .info{
                                margin-top: 25px;
                                h5{
                                    color: $event-color;
                                    font-weight: 700;
                                    font-size: 28px;
                                }
                                p{
                                    color: $text-white-hover;
                                    font-family: khairah_r;
                                    font-size: 18px;
                                    font-weight: 600;
                                    margin-top: 7px;
                                    padding: 0px;
                                }
                            }
                        }
                    }
                    .testimonial-slider.text-center.active-slider{
                        display: block;
                    }
                    .testimonial-arrow{
                        position: absolute;
                        background-color: $dot-color;
                        color: $text-white;
                        top: 30%;
                        width: 60px;
                        height: 60px;
                        line-height: 60px;
                        font-size: 20px;
                        text-align: center;
                        border: none;
                        @include bd-radius(100%);
                        @extend %transition;
                        &:hover{
                            background-color: $text-white-hover;
                        }
                    }
                    .testimonial-next{
                        right: 195px;
                    }
                    .testimonial-prev{
                        left: 195px;
                    }
                }
            }
        }
    }
    .testimonial-shape-1{
        position: absolute;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 50%;
        z-index: -1;
    }
    .testimonial-shape-2{
        position: absolute;
        bottom: 2%;
        left: 50%;
        transform: translateX(-50%);
        z-index: 1;
    }
}
// volunteer-comment end 