// wait start
.wait{
    position: relative;
    width: 100%;
    z-index: -1;
    .slider{
        position: relative;
        color: $text-white;
        padding: 50px 0px;
        @include repeat;
        &:nth-child(1){
            display: block;
            background-image: url(../images/slide-1.jpg);

        }
        &:nth-child(2){
            display: none;
            background-image: url(../images/slide-2.jpg);
        }
        &:nth-child(3){
            display: none;
            background-image: url(../images/slide-3.jpg);
        }
        .container{
           .col-12.col-md-8{
               z-index: 3;
                .wait-food{
                    .wait-food-comment{
                        position: relative;
                        z-index: 1;
                        text-transform: uppercase;
                        font-size: 20px;
                        padding: 32px;
                        display: inline-block;
                        &::before{
                            content: '';
                            position: absolute;
                            top: 8px;
                            left: -28px;
                            height: 100%;
                            width: 220px;
                            background-image: url(../images/comment.png);
                            z-index: -1;
                            @include repeat;
                        }
                    }
                    .wait-children{
                        font-size: 150px;
                        text-transform: capitalize;
                        font-weight: bolder;
                        margin: 30px 0px;
                    }
                    p{
                        font-size: 20px;
                        padding-right: 410px;
                        font-weight: 400;
                        padding-top: 30px;
                        padding-bottom: 30px;
                        line-height: 30px;
                    }
                    a{
                        font-size: 20px;
                        background: $button-left-color;
                        color: $text-white;
                        @extend %transition;
                        border: none;
                        background-size: 200%, 1px;
                        @include bd-radius(30px);
                        display: inline-block;
                        padding: 10px 22px;
                        .fas.fa-angle-double-right{
                            margin-left: 15px;
                        }
                        &:hover{
                            color: $text-white;
                            background: $button-right-color;
                            background-size: 200%, 1px;
                        }
                    }
                }
           }
        }
        .slider-slide{
            position: absolute;
            top: 0px;
            left: 0px;
            z-index: 1;
        }
    }
    .dots{
        position: absolute;
        top: 50%;
        right: 200px;
        z-index: 9999;
        .dot{
            width: 20px;
            height: 20px;
            border: none;
            @include bd-radius(100%);
            background-color: $dot-color;
            margin: 5px;
        }
        .dot-active{
            background-color: $text-white;
            border: 3px solid $text-white-hover;
        }
    }
}
// wait end 