@font-face{
    font-family: khairah;
    src: url(../fonts/khairah.ttf);
    font-display: swap;
}
@font-face{
    font-family: khairah_r;
    src: url(../fonts/khairah_r.ttf);
    font-display: swap;
}
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
h1, h2, h3,h4, h5,h6, p, ul{
    margin: 0px;
    padding: 0px;
}
li{
    list-style: none;
}
a, a:active, a:hover{
    text-decoration: none;
}
body{
    font-family: khairah;  
}
@import "color";
@import "extend";
@import "mixin";
@import "header";
@import "wait";
@import "area";
@import "features";
@import "causes";
@import "contactUs";
@import "upcomingEvent";
@import "volunteer";
@import "volunteerComment";
@import "latestNews";
@import "partners";
@import "footer";
// homeStyle2.html
@import "navbarAbout";
@import "areaHomeStyle2";
@import "featuresHomeStyle2";
@import "aboutUs";
@import "counter";
// singleCauses.html
@import "singleCauses";
// donate.html
@import "donate";
// contact.html
@import "contact";
// preloader
#preLoader{
    width: 100%;
    height: 100vh;
    background-color: $text-white;
    background-image: url(../images/200.gif);
    @include repeat;
    background-size: 15%;
    position: fixed;
    z-index: 999;
}
// preloader
// scrollTop start
    .btn-scrollTop{
        @include bd-radius(10px);
        color: $text-white;
        background: $background-left-gradient;
        width: 50px;
        height: 50px;
        line-height: 50px;
        font-size: 22px;
        position: fixed;
        bottom: 7px;
        right: 7px;
        border: none;
        z-index: 1;
        @extend %transition;
        &:hover{
            background: $background-right-gradient;
            transform: translateY(-10px);
        }
    }
// scrollTop end
@import "media";